/* declares variables for colors and font size */
:root{
    --accent: #274156;
    --background: #BFB59E;
    --text: white;
    --titles: 30px
}   
/* sets the background color for the website */
*{
    background-color: var(--background);
}
/* stylizes my name */
.name{ 
    background-color: var(--accent);
    font-size: 40px;
    color: var(--text);
}
/* puts space between my name and the navigation anchor tags, aligns them vertically adds padding, background color and allows the navbar to wrap when it runs out of space*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--titles);
    background-color: var(--accent);
    flex-wrap:wrap;
}
/* sets the background color, space between each li item, allows the items to wrap if they run out of space as well as center themselves  */
.navbar{
    display: flex;
    background-color: var(--accent);
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
/* puts the list items side by side */
.navbar li{
    background-color: var(--accent);
}
/* sets the background, text color as well as text decoration for the navbar links */
.navbar a {
    background-color: var(--accent);
    text-decoration: none;
    color: var(--text);
}
/* puts the aboutmesb and aboutme-p classes side by side and aligns them to the beginning of the container with padding */
.aboutme {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--titles)
}
/* sets the aboutme-title above profilepic and aligns them horizontally */
.aboutmesb {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-right: 30px;
    width: 25%;
}
/* sets the title color and font size */
.aboutme-title {
    color: var(--accent);
    font-size: var(--titles);
    margin-left: 5%;
    padding-right: 6%;
}
/* makes the profile pic round and 50% width of the parent container */
.profilepic {
    width: 100%;
    border-radius: 50%;
}
/* sets the padding on the left side of the text and adds a border, also adjusts the font size and text color */
.aboutme-p {
    padding-left: 30px;
    font-size: 20px;
    color: var(--accent);
    border-left: 3px solid var(--accent);
    width: 75%;
}
/* sets the  project title and project img containers beside each other*/
.work {
    display: flex;
    justify-content:space-between;
}
/* sets the styling for the project title, adds padding and margin */
.projects-title {
    color: var(--accent);
    font-size: var(--titles);
    border-right: 3px solid var(--accent);
    margin-left: 5%;
    padding-right: 6%;
    width: 23%
    
}
/* sets the width of the img container to 75% of the page and allows the images to wrap */
.projects-img {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding: 0px 2%;
}
/* sets the width of the 1st picture to  98% of the page*/
.bigpicture{
    width: 98%;
}
/* sets the width of the anchor tag to 100% of the bigpicture div */
.bigpicture a{
    width: 100%;
}
/* sets the width of the img to 100% of the anchor tag */
.bigpicture img{
    width: 100%;
}
/* sets the width of the picture div to 49% of the projects img container */
.picture {
    width: 49%;
}
/* sets the width of the anchor tag to 100% of the picture div */
.picture a{
    width: 100%;
}
/* sets the width of the img to 100% of the anchor tag */
.picture img {
    width: 100%;
}
/* overrides the previous width of 49% when less or equal to 750px wide */
@media only screen and (max-width: 750px){
    .picture{
        width: 100%;
    }
}
/* aligns the title and list elements vertically, stylizes the background */
.contactme {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent);
    justify-content: center;
    width: 100%;
}
/* Stylizes the title for contact me*/
.contactme-title{
    background-color: var(--accent);
    color: var(--text);
    padding-top: 30px;
    font-size: var(--titles);
}
/* aligns the items horizontally and spaces them evenly */
.contactme ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--accent);
    justify-content: space-around;
    margin-bottom: 3vw;
}
/* stylizes the list items in contactme */
.contactme li{
    background-color: var(--accent);
    color: var(--text);
}